/* Define styles for the centered navigation bar */
body {
    font-family: "PT Sans", "Roboto", sans-serif;
    background-color: rgb(237 240 237 / 85%);

    .tau-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 2rem;
        background-color: #536553;
        border-radius: 30px;
        margin-bottom: 10px;
    }

    header {
        color: #536553;
    }

}

h2.display-5 {
    padding-bottom: 2rem;
    font-weight: bold;
}

h1.display-1 {
    font-weight: bold;
}

p {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.show-p {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


.navbar {
    display: block;
    width: 93%;
    margin: 1rem auto;

    .nav-item {
        border: solid;
        border-color: #fff8dc;
        width: 7.7rem;
        height: 4rem;
        padding: 0px;
        text-align: center;
    }

}

.custom-navbar {
    background-color: #536553;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #FFFFFF;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
    color: #a2ca82;

}




h2 {
    color: #457745;
    text-align: center;
    padding-bottom: 1rem;
}

.content {
    margin: 3rem;
    padding: 4rem;
    padding-top: 3rem;
    border: solid;
    border-color: #457745;
    color: #536553;
    font-size: large;

    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;

    ul {
        padding-left: 2rem;
    }

    .img-desc {
        font-family: 'Times New Roman', Times, serif;
        font-size: smaller;
        color: #536553;
    }

    #back {
        display: none;
    }

    a.options:hover {
        color: #a2ca82;
    }

    .options {
        color: #FFFFFF;
        border: solid;
        width: 20rem;
        border-radius: 20px;
        margin-left: 2%;
        margin-bottom: 1%;
        text-decoration: unset;
        background-color: #536553;
        border-color: #536553;
    }
}

@media(prefers-reduced-motion) {
    .content {
        transition: none;
    }
}

.show-content {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.models-table-img {
    width: 100%;
}



#mnist-content {
    .mnist-article {
        width: 50%;
    }

    #mnist-performance {
        display: block;
    }

    .explanation {
        display: none;
    }

    .mnist-example {
        width: 95%;
    }

    .mnist-comparison {
        width: 100%;
    }

}

#cifar10-content {


    .explanation {
        display: none;
    }

    .cifar10-example {
        width: 95%;
    }

    .cifar10-comparison {
        width: 100%;
    }

}

#cifar100-content {
    .cifar10-explenation {
        display: flex;
    }

    .explanation {
        display: none;
    }

    .cifar100-example {
        width: 95%;
    }

    .cifar100-comparison {
        width: 100%;
    }

    .cifar100-resnet-comparison {
        width: 100%;
    }

}
