@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: local("PT_Sans"), url("../fonts/PT_Sans/PTSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}
body {
  font-family: "PT Sans", "Roboto", sans-serif;
  background-color: rgba(237, 240, 237, 0.85);
  font-size: 16px;
}
body img {
  width: 100%;
  height: auto;
}
body .tau-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2rem;
  background-color: #536553;
  border-radius: 30px;
  margin-bottom: 10px;
}
body header {
  color: #536553;
}

h2.display-5 {
  padding-bottom: 2rem;
  font-weight: bold;
}

h1.display-1 {
  font-weight: bold;
}

p {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}

.show-p {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-left: unset;
}

.navbar {
  display: block;
  width: 93%;
  margin: 1rem auto;
}
.navbar .nav-item {
  border: solid;
  border-color: #fff8dc;
  width: 7.7rem;
  height: 4rem;
  padding: 1px;
  text-align: center;
}

.custom-navbar {
  background-color: #536553;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #FFFFFF;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
  color: #a2ca82;
}

h2 {
  color: #457745;
  text-align: center;
  padding-bottom: 1rem;
}

.content {
  margin: 3rem;
  padding: 4rem;
  padding-top: 3rem;
  border: solid;
  border-color: #457745;
  color: #536553;
  font-size: large;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.content p {
  text-align: justify;
}
.content .img-desc {
  font-family: "Times New Roman", Times, serif;
  font-size: smaller;
  color: #536553;
}
.content #back {
  display: none;
}
.content a.options:hover {
  color: #a2ca82;
}
.content .options {
  color: #FFFFFF;
  border: solid;
  width: 20rem;
  border-radius: 20px;
  margin-left: 2%;
  margin-bottom: 1%;
  text-decoration: unset;
  background-color: #536553;
  border-color: #536553;
}

@media (prefers-reduced-motion) {
  .content {
    transition: none;
  }
}
.show-content {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#models-table-img {
  width: 100%;
}

#mnist-content #mnist-article {
  width: 60%;
}
#mnist-content #mnist-performance {
  display: block;
}
#mnist-content .explanation {
  display: none;
}
#mnist-content #mnist-example {
  width: 95%;
}

#cifar10-content .explanation {
  display: none;
}
#cifar10-content #cifar10-example {
  width: 95%;
}

#cifar100-content .explanation {
  display: none;
}
#cifar100-content #cifar100-example {
  width: 95%;
}

.enlarged {
  transform: scale(1.2);
  /* Adjust the scale factor as needed */
  transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
  }
  .navbar-toggler {
    padding: -1rem 1rem;
  }
  .navbar-toggler-icon {
    font-size: 40px;
    color: #FFFFFF;
  }
  .navbar-toggler-icon::before {
    content: "≡";
  }
  /* Style the menu items */
  .navbar-collapse .nav-link {
    display: inline-block;
    margin-right: 10px;
    width: 100%;
  }
  .navbar-collapse {
    display: block;
    background-color: #536553;
    padding: 0rem;
  }
  .navbar-collapse .nav-link {
    color: #FFFFFF;
    font-size: 18px;
    padding: 0.5rem 0;
  }
  .navbar-nav {
    padding-left: unset;
  }
  .navbar {
    width: 100%;
  }
  .navbar .nav-item {
    width: 100%;
    height: 0%;
    padding: 0px;
    text-align: left;
    margin: -1px;
    padding-left: 1rem;
  }
  body {
    font-size: 14px;
  }
  body .tau-logo {
    margin-bottom: 20px;
    width: 80%;
    padding: 0.9rem;
  }
  .content {
    margin: 0rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-right: 2.4rem;
  }
  .content ul {
    padding-left: 1rem;
  }
  .content *,
  .content ::after,
  .content ::before {
    box-sizing: unset;
  }
  .content .options {
    width: 57%;
  }
}
